body {
    background-color: whitesmoke;
    margin-top: auto;
    font-family: monospace;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    line-height: 1.4;
}

p {
    line-height: 1.4;
}

.main-nav ul {
    list-style-type: none;
    display: block;
}

.main-nav li {
    display: inline-block;
    background-color: whitesmoke;
}

.main-nav li {
    color: black;
    display: inline;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main-nav a {
    color: black;
    display: inline-block;
}

#page-title {
    color: black;
    font-family: serif;
    font-size: 35px;
    padding-right: 40px;
}

.main-nav a:link {
    color: black;
    text-decoration: none;
}

.body {
    margin-left: 250px;   
}


.footer {
    margin-top: 10px;
    text-align: center;
}


.footer #credits {
    margin-top: 5px;
}

.assignments {  
    table-layout: fixed;
}

.assignments th, td {
    padding-bottom: 10px;
}

#assign {
    width: 100px;
}

#name {
    width: 300px;
}

#files {
    width: 200px;
}