body {
    background-color: whitesmoke;
    margin-top: auto;
    font-family: monospace;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    line-height: 1.4;
}

p {
    line-height: 1.4;
}

.main-nav ul {
    list-style-type: none;
    display: block;
}

.main-nav li {
    display: inline-block;
    background-color: whitesmoke;
}

.main-nav li {
    color: black;
    display: inline;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main-nav a {
    color: black;
    display: inline-block;
}

#page-title {
    color: black;
    font-family: serif;
    font-size: 35px;
    padding-right: 40px;
}

.main-nav a:link {
    color: black;
    text-decoration: none;
}

.sidebar {
    float: left;
    width: 300px;
}

.sidebar ul {
    list-style-type: none;
    display: inline;
}
.sidebar li p {
    text-align: center;
}

.body {
    margin-left: 340px;
    margin-right: 600px;
    margin-top: 50px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer #shen {
    margin-bottom: 0px;
}

.footer #credits {
    margin-top: 5px;
}